
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
    --header-height: 3rem;

    /*========== Colors ==========*/

    --hue-color: 220; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --primeira-cor: hsl(var(--hue-color), 69%, 61%);
    --primeira-cor-seg: hsl(var(--hue-color), 69%, 61%);
    --primeira-cor-alt: hsl(var(--hue-color), 57%, 53%);
    --primeira-cor-lighter: hsl(var(--hue-color), 92%, 85%);
    --titulo-cor: hsl(var(--hue-color), 8%, 15%);
    --texto-cor: hsl(var(--hue-color), 8%, 45%);
    --texto-cor-light: hsl(var(--hue-color), 8%, 65%);
    --input-cor: hsl(var(--hue-color), 70%, 96%);
    --body-cor: hsl(var(--hue-color), 60%, 99%);
    --container-cor: #fff;
    --scroll-bar-cor: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-cor: hsl(var(--hue-color), 12%, 80%);

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== Variables Dark theme ==========*/


/*========== Button Dark/Light ==========*/


/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-cor);
  color: var(--text-cor);
}

h1, h2, h3, h4 {
  color: var(--titulo-cor);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}

.section-subtitle {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section-subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section-title, 
.section-subtitle {
  text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*==================== NAV ====================*/

.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo, .nav-toggle {
  color: var(--titulo-cor);
  font-weight: var(--font-medium);
}

.nav-logo:hover {
  color: var(--primeira-cor);
}

.nav-toggle{
  font-size: 1.1rem ;
  cursor: pointer;
}

.nav-toggle:hover {
  color: var(--primeira-cor);
}


@media (width <= 767px) { /* max-width:  */
  .nav-menu {
    padding: 2rem 1.5rem 4rem;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: -100%;
    background-color: var(--body-cor);
    box-shadow: 0 -1px 4px rgba(0,0,0,.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition:  .3s;
  }
}

.nav-list {
  grid-template-columns: repeat(3, 1fr);
  gap:2rem;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--titulo-cor);
  font-weight: var(--font-medium);
}

.nav-link:hover {
  color: var(--primeira-cor);
}

.nav-icone{
  font-size: 1.2rem;
}

.nav-close{
  position: absolute;
  right:  1.3rem;
  bottom: .5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--primeira-cor);
}

/* show menu */
.show-menu {
  bottom: 0;
}

/* Active link */


/* Change background header */


/*==================== HOME ====================*/
.home-container {
  gap: 1rem;
}

.home-content {
  padding-top: 3.5rem;
  grid-template-columns: .5rem 3fr;
  align-items: center;
}

.home-social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home-social-icone {
  font-size: 1.5rem;
  color: var(--primeira-cor)
}

.home-social-icone:hover {
  
  color: var(--primeira-cor-alt);
  opacity: 0.5;
}



.home-blob {
  margin-left: 1rem;
  width: 280px;
  fill: var(--primeira-cor);
}

.home-blob-img {
   width: 170px;
}

.home-data {
  grid-column: 1/3;
}

.home-title {
  font-size: var(--big-font-size);
}

.home-subtitle {
  margin-bottom: var(--mb-0-75);
  font-size: var(--h3-font-size);
  color: var(--text-cor);
  font-weight: var(--font-medium);
}

.home-description {
 margin-bottom: var(--mb-2);
}

.home-scroll {
  /*display: none;*/
  width: a;
}

.home-scroll-button {
  color: var(--primeira-cor);
  transition: .3s;
}

.home-scroll-button:hover {
  transform: translateY(.25rem);
}

.home-scroll-mouse {
  font-size: 2rem;
}

.home-scroll-name {
  margin-right: var(--mb-0-25);
  font-size: var(--small-font-size);
  color: var(--titulo-cor);
  font-weight: var(--font-medium);
}

.home-scroll-arrow {
  font-size: 1.35rem;
}

/*==================== BUTTONS ====================*/
.button {
  padding: 1rem;
  display: inline-block;
  background-color: var(--primeira-cor);
  font-weight: var(--font-medium);
  color: #fff;
  border-radius: .5rem;
}

.button:hover {
  background-color: var(--primeira-cor-alt);
}

.button-icone {
  margin-left: var(--mb-0-5);
  font-size: 1.25rem;
  transition: .3s;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

.button--small {
  padding: .75rem 1rem;
}

.button-white {
  background-color: #fff; 
  color: var(--primeira-cor);
}

.button-white:hover {
  background-color: var(--primeira-cor-lighter); 
}


.button--link {
  padding: 0;
  background-color: transparent;
  color: var(--primeira-cor);
}

.button--link:hover { 
  background-color: transparent;
  color: var(--primeira-cor-alt);
}


/*==================== ABOUT ====================*/

.container-img-sobre {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.sobre-img {
  margin: 0 auto;
  justify-self: center;
  align-self: center;  
  min-width: 100%;
  animation: floating 4s ease-in-out infinite;
}
  
@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

.sobre-efeito {
  margin-bottom: var(--mb-2);
  display: flex;
  justify-self: center;
  align-self: center;
  position: relative;
  max-width: 100% ;
  height: 500px;
  z-index: -1000;
}

.square {
  position: absolute;
  background-color: var(--primeira-cor);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0,.1);
  transition: background-color .2s;
  z-index: -1000;
}

.square.color-primary {
  opacity: 0.5;
  animation:   color-primary 1s;
  animation-timing-function: cubic-bezier(.5, 3, .5, 1);
}

@keyframes color-primary {
  0% { 
    transform: scale(0);
  }
  50% {
    background-color: var(--primeira-cor);
  }
  100%{
    transfrom: scale(1);
  }
}

.square.color-segund {
  color: var(--primeira-cor-lighter);
  animation:   color-segund 1s;
  animation-timing-function: cubic-bezier(.5, 2.5, .5, 1);
}

@keyframes color-segund {
  0% { 
    transform: scale(0);
  }
  50% {
    background-color: var(--primeira-cor);
  }
  100%{
    transfrom: scale(1);
  }
}

.efeito {
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 90% ;
  width: 85%;
  height: 500px;
  z-index: -1000;
}


.square {
  position: absolute;
  background-color: var(--primeira-cor);
}

.sobre-description {
  margin-top: var(--mb-2-5);
  margin-bottom: var(--mb-2-5);
  text-align: center;
}

.sobre-info {
  margin-bottom: var(--mb-2-5);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.sobre-info-name {
  font-size: var(--smaller-font-size);
}

.sobre-buttons {
  display: flex;
  justify-content: center;
}

/*==================== SKILLS ====================*/
.skills-container{
  row-gap: 0;
}

.skills-header.skills.open {
  background-color: #e0e0e0;
}

.skills-header{
  margin-top: var(--mb-2-5);
  margin-bottom: var(--mb-2-5);
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: .6rem;
  border: 1px solid #e8e8e8;
  transition: var(--primeira-cor-lighter) 0.3s ease;
}

.skills-icone,
.skills-arrow{
  font-size: 1.8rem;
  color: var(--primeira-cor);
}

.skills-icon {
  margin-top: .5rem;
  font-size: 1.3rem;
  color: var(--primeira-cor);
}

.skills-icone {
  margin-right: var(--mb-0-75);
}

.skills-title {
  font-size:  var(--h3-font-size);
}

.skills-subtitle {
  font-size: var(--small-font-size);
  color: var(--primeira-cor-lighter);
}

.skills-arrow {
  margin-left: auto ;
  transition: .4s;
}

.skills-titles{
  margin-bottom: var(--mb-0-5);
  display: flex;
  justify-content: space-between;
}

.skills-name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills-bar,
.skills-porcentage{
  height: 5px;
  border-radius: .25rem;

}

.skills-bar {
  background-color: var(--primeira-cor-lighter);
}

.skills-porcentage {
  display: block;
  background-color: var(--primeira-cor);
}

.skills-html {
  width: 99%;
}

.skills-css {
  width: 80%;
}

.skills-js, .skills-figma {
  width: 50%;
}

.skills-react, .skills-node {
  width: 20%;
}

.skills-git {
  width: 70%;
}

.skills-postgre, .skills-ui {
  width: 30%;
}

.skills-npm, .skills-ux {
  width: 40%;
}

.skills-close .skills-list {
  height: 0;
  overflow: hidden;
  transition:  0.3s ease;
}
 
.skills-open .skills-list {
  margin-bottom: var(--mb-2-5) ;
  height: max-content;
  transition:  .5s ease; 
}  
.skills-open .skills-arrow   {
  max-height: 1000px;
  transition:  .5s ease; 
 transform: rotate(-180deg);
}

/*==================== QUALIFICATION ====================*/

.qualification-tabs {
  margin-bottom: var(--mb-2) ;
  display: flex;
  justify-content:space-evenly;
}

.qualification-button {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
}

.qualification-button:hover {
  color: var(--primeira-cor);
}

.qualification-icone {
  margin-right: var(--mb-0-5);
  font-size: 1.8rem;
}

.qualification-data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  justify-self: center;
  align-self: center;
  column-gap: 1.5rem;
}

.qualification-title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.qualification-sutitle {
  margin-bottom: var(--mb-1);
  display: inline-block;
  font-size: var(--small-font-size);
}

.qualification-calender {
  margin-bottom: var(--mb-1);
  font-size: var(--smaller-font-size);
  color: var(--primeira-cor-lighter);
}

.qualification-rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--primeira-cor);
  border-radius: 50%; 
}

.qualification-line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--primeira-cor);
  transform: translate(6px, -7px);
}

.qualification [data-content] {
  display: none;
}

[data-content].qualification-active  {
  display: block; 
}

.qualification-active.qualification-button{
  color: var(--primeira-cor);
}


/*==================== SERVICES ====================*/

.services-container {
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.services-content {
  padding: 3.5rem .5rem 1.25rem 1.5rem ;
  position: relative;
  background-color: var(--container-cor);
  border-radius: .25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .16);
  transition: .3s;
}

.services-content:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, .16);
}

.services-icone {
  margin-bottom:  var(--mb-1);
  display: block;
  font-size: 1.5rem;
  color: var(--primeira-cor);
}

.services-title {
  margin-bottom: var(--mb-1);
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.services-button{
  margin-bottom: var(--mb-1);
  font-size: var(--small-font-size) ;
  cursor: pointer;
}

.services-button:hover .button-icone {
  transform: translateX(.25rem);
}

.services-modal {
  padding: 0 1rem;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--z-modal);
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.services-modal-content{
  padding:1.5rem;
  position: relative;
  background-color: var(--container-cor);
  border-radius: .5rem;
}

.services-modal-services {
  row-gap: 1rem;
}

.services-modal-service {
  display: flex;
}

.services-modal-title {
  margin-bottom: var(--h3-font-size);
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.services-modal-close {
  position: absolute;
  inset: 1rem 1rem auto auto;
  font-size: 1.5rem;
  color: var(--primeira-cor);
  cursor: pointer;
}

.services-modal-icone {
  margin-right: var(--mb-0-25);
  font-weight: var(--font-medium);
  color: var(--primeira-cor);
}

/* Active Modal */
.active-modal {
  opacity: 1;
  visibility: initial;
}

/*==================== PORTFOLIO ====================*/

.portfolio-container {
  overflow: initial;
}

.portfolio-content {
  padding: 0 1.5rem;
}

.portfolio-img{
  width: 270px;
  opacity: .8;
  border-radius:  .5rem;
  justify-self: center;
  transition: .3s ease-in;
}

/* talvez remover */
.preview {
  transition: transform 0.5s ease;
}

/* talvez remover */
.preview:hover{
  transform: scale(1.3);
  z-index: 1000; /* Ajuste o valor de escala conforme necessário */
}

.portfolio-img:hover{
  opacity: 1;
  z-index: 1000;
}

.portfolio-title {
  margin-bottom: var(--mb-0-5);
  font-size: var(--h3-font-size);
}

.portfolio-description {
  margin-bottom: var(--mb-0-75);
}

.portfolio-button:hover .button-icone {
  transform: translateX(.25rem);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
}


.swiper-portfolio-icone {
  font-size: 2rem;
  color: var(--primeira-cor) ;
}

.swiper-container {
  padding-bottom: 2.1rem;
  overflow: hidden;
 
}

.swiper-button-prev {
  left: -.5rem;
}

.swiper-button-next {
  right: -.5rem;
}

.swiper-pagination-bullet-active{
  background-color: var(--primeira-cor);
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullet{
  outline: none;
}


/*==================== PROJECT IN MIND ====================*/

.project {
  position: relative;
  text-align: center;
}

.project-bg {
  background-color: var(--primeira-cor-seg);
}

.project-title,
.project-description{
 color: #fff;
}

.project-title {
  margin-bottom: var(--mb-0-75);
  margin-top: var(--mb-2-5);
  font-size: var(--h2-font-size);
}

.project-description {
  margin-bottom: var(--mb-1-5);
}

.project-img {
  width: 200px;
  justify-self: center;
  filter: drop-shadow(1px 2px 20px var(--primeira-cor-lighter));
  z-index: 10
}

/*==================== TESTIMONIAL ====================*/

.testimonial-area {
  position: absolute;
  inset: 0;
  padding: 0 1rem;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 20vh;
  z-index: var(--z-fixed);
}

.testimonial-content {
  padding: 1rem;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.5s ease; /* Adiciona uma transição suave de opacidade */
}

.testimonial-content.active-testimonial {
  opacity: 1;
  overflow: visible;
}

.testimonial-content {
  /* outras propriedades */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Adiciona múltiplas transições */
}

.testimonial-content.active-testimonial {
  /* outras propriedades */
  transform: translateX(0); /* Exemplo de transformação */
}

.testimonial-modal {
  padding: 0 1rem;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--z-modal);
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  border-color: var(--tertiary-color-light);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
  rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  z-index: 1000
}

.testimonial-modal-content {
  padding: 3rem 2.5rem;
  position: relative;
  background-color: var(--container-cor);
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem
}

.testimonial-modal-title{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  text-align: justify; 
  align-self: flex-start;
};



.testimonial-modal-name{
  margin-top: 1rem;
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  text-align: justify; 
  align-self: flex-start;
};

input[type="text"] {
  font-size: 18pt;
}
.testimonial-modal-input{
  width: 200px;
  height: 35px;
  border-radius: 3px;
  border: 1.5px solid var(--primeira-cor-alt);
  text-align: center;
  align-self: flex-start;
}

.testimonial-modal-text-area {
  width: 240px;
  height: 100px;
  border-radius: 3px;
  border: 1.5px solid var(--primeira-cor-alt);
  text-align: center;
  align-self: flex-start;
}

.testimonial-modal.active-testimonial-modal {
  opacity: 1;
  visibility: visible;
}

.testimonial-modal-icone {
  margin-bottom: var(--mb-0-5);
  font-size: 1.3rem;
  color: var(--primeira-cor);
}

.testimonial-modal-close {
  position: absolute;
  inset: 1rem 1rem auto auto;
  font-size: 1.7rem;
  color: var(--primeira-cor);
  cursor: pointer;
}

.testimonial-modal-button {
  width: 95px;
  height: 35px;
  border-radius: 4px;
  border: 1px solid transparent;
  color:#fff;
  text-align: center;
  font-size: var(--font-medium);
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
  align-self: center;
}

.button-icone-modal{
  transition: .3s;
}

.testimonial-area.active-testimonial {
  position: static; /* 'none' não é um valor válido para 'position' */
}


.testimonial-data,
.testimonial-header {
 display: flex;
}

.testimonial-data {
  margin-bottom: var(--mb-1);
  justify-content: space-between;
}

.testimonial-img{
  margin-right: var(--mb-0-75);
 width: 60px;
 height: 60px;
 border-radius: 50%;
}


.testimonial-name.active-modal {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.hidden {
  display: none;
  overflow: hidden;
}


.testimonial-client {
  font-size: var(--small-font-size);
  color: var(--texto-cor);
}

.testimonial-description {
 margin-bottom: var(--mb-2-5);
}

.testimonial-icone-star{
  color: var(--primeira-cor);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.active-star {
  transform: scale(1.2);
}

.testimonial-icone-star.active-star {
  /* ou a família de fontes apropriada */
  color: rgb(255, 213, 0); /* Cor de preenchimento */
}


/*==================== CONTACT ME ====================*/


/*==================== FOOTER ====================*/


/*========== SCROLL UP ==========*/


/* Show scroll */


/*========== SCROLL BAR ==========*/


/*==================== MEDIA QUERIES ====================*/
/* For small devices */


/* For medium devices */


/* For large devices */
